.team__title {
    font-family: 'Nova Square', sans-serif;
    font-size: 1.7rem;
    text-align: left;
}

.team__container {
    height: 100vh;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.projects__card {
    display: flex;
    flex-direction: column;
}

.projects__card img {
    width: 300px;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

span {
    margin-right: 2rem;
}
.name {
    font-size: 1.2rem;
    font-weight: 600;
}

.title {
    font-size: 1rem;
}