.header {
    position: fixed;
    height: 3.5rem;
    padding: 1rem 0;
    background: #FBFEFD;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin-bottom: 1rem;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#list li {
    padding: 0 20px;
    position: relative;
}

#list li a {
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

#list li a:hover {
    color: rgb(78, 78, 78);
}

#list li a:hover::after,
#list li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: hsl(218, 23%, 23%);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.close-menu-icon,
.open-menu-icon {
    transition: 1s;
    cursor: pointer;
}
.mobile {
    display: none;
}
.list-right {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width:850px) {
    .container {
        max-width: 90%;
    }
 #list {
    flex-direction: column;
    gap: 2rem;
    border-radius: .5rem;
    position: fixed;
    top: 4.5rem;
    right: 1rem;
    width: 17rem;
    height: 20rem;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    background: rgb(248, 248, 248);
 }   

 #list.active {
    opacity: 1;
 }
 .mobile {
    display: block;
 }
}